Django==4.2.29
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
dj-database-url==3.1.2
psycopg2-binary==2.9.11
scikit-fuzzy==0.5.0
numpy==2.4.4
scipy==1.17.1
networkx==3.6.1
packaging==26.0
python-dotenv==1.2.2
Pillow==12.2.0
gunicorn==23.0.0
